h1 {
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: left;
    color: #555;
}
.option {
    display: inline-block;
    padding: .4em .3em;
    margin: 0px;
    font-weight: 400;
    border: solid 1px transparent;
    line-height: 16px;
    color: #222;
}
